.wrapper {
    display: flex;

    div {
        &>label {
            text-align: center;
        }

        &>div {
            display: flex;
            justify-content: center;
        }
    }
}

.wrapperMobile {
    flex-direction: column;
}